.container {
  font-family: "Times New Roman", Times, serif;
}

.list-title {
  text-align: center;
}

.border-table {
  border: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-input-fruits {
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.form-container {
  margin-left: 10px;
  padding-bottom: 20px;
}
