.App h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  margin-left: 20px;
}

.row-spacing {
  border-spacing: 0 1rem;
}

.button {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 5%;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  margin-left: 30%;
  margin-top: 10%;
}
