.form {
  border: 1px solid black;
  border-radius: 5;
  width: 40%;
  height: 45%;
  position: fixed;
  top: 5%;
  left: 30%;
  border-radius: 10px;
}

.table-fruit-list {
  width: 50%;
  height: 35%;
  position: fixed;
  top: 55%;
  left: 25%;
  border-radius: 10px;
}
