.body-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: auto;
}

.form {
  border: 1px solid black;
  border-radius: 5;
  width: 40%;
  height: 45%;
  position: fixed;
  top: 13%;
  left: 30%;
  border-radius: 10px;
}

.table-fruit-list {
  width: 50%;
  height: 35%;
  position: fixed;
  top: 5%; /* set back to 60 if form and timer need to be shown */
  left: 25%;
  border-radius: 10px;
}

.timer {
  text-align: center;
}
